:root {
  --mint: #98ff98;
  --black: #121212;
  --gold: #f2c94c;
}

* {
  margin: 0;
  padding: 0;
}

body{
  min-height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--black);
  scroll-behavior: smooth;
  color: white;
}

nav{
  background-color: #0e0e0e;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.6);
}

nav ul{
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav li {
  height: 50px;
}

nav a{
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: var(--gold);
  transition: color 0.3s, transform 0.3s;
}

nav a:hover{
  color: var(--mint);
  transform: scale(1.05);
}
.sidebar{
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: #706c6c;
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.sidebar li{
  width: 100%;
}

.sidebar a{
  width: 100%;
}

.menu-button{
  display: none;
}

@media(max-width: 490px){
  .hideOnMobile{
    display: none;
  }
  .menu-button{
    display: block;
  }
}

@media(max-width: 400px){
  .sidebar{
    width: 100%;
  }
}

.pfp{
  border-radius: 50%;
  box-shadow: 0 0 20px rgba(152, 255, 152, 0.5);
  transition: transform 0.4s ease;
}


.pfp-holder{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  text-align: center;
}

.pfp-text{
  padding-top: 2rem;
}

h1 {
  font-size: 3rem;
  color: var(--mint);
}

h2 {
  font-size: 2.5rem;
  color: var(--gold);
}

h3 {
  font-size: 1.75rem;
  color: var(--mint);
}

p {
  font-size: 1.2rem;
  max-width: 800px;
  line-height: 1.6;
}



