:root {
  --mint: #98ff98;
  --black: #121212;
  --gold: #f2c94c;
  --darkMint: #21f379;
}

* {
  margin: 0;
  padding: 0;
}
html{
  scroll-behavior: smooth;
}

body{
  min-height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  
 
}

#particles-js{
  height: 100vh;
  width: 100%;
  background: var(--black);
}

nav{
  background-color: #0e0e0e;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.6);
}

nav ul{
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav li {
  height: 50px;
}

nav a{
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: var(--gold);
  transition: color 0.3s, transform 0.3s;
}

nav a:hover{
  color: var(--mint);
  transform: scale(1.05);
}

.sidebar{
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background: black;
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.sidebar li{
  width: 100%;
}

.sidebar a{
  width: 100%;
}

.menu-button{
  display: none;
}

@media(max-width: 500px){
  .hideOnMobile{
    display: none;
  }
  .menu-button{
    display: block;
  }
}


@media(max-width: 400px){
  .sidebar{
    width: 100%;
  }
}

.contactbtn{
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 30px;
  border: 2px solid #21f379;
  display: inline-block;
  text-decoration: none;
  color: #21f379;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: 0.5s;
  overflow: hidden;
}

.contactbtn:hover{
  color: #111;

}

.contactbtn span {
  position: absolute;
  display: block;
  width: 0px;
  height: 0px;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: #21f379;
  transition: width 0.5s, height 0.5s;
  z-index: -1;
}

.contactbtn:hover span{
  width: 500px;
  height: 500px;
}

.pfp{
  border-radius: 50%;
  position: absolute;
  left: 50%;
  margin-left: -125px;
  top: 35%;
  margin-top: -125px;
  
  transition: transform 0.4s ease;
}

.welcome_text{
  position: absolute;
  left: 50%;
  top: 65%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}

.welcome_followup{
  position: absolute;
  left: 50%;
  top: 75%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}

@media(max-width: 492px){
  .welcome_followup{
    top: 80%;
  }
}

@media(max-width: 257px){
  .pfp{
    display: none;
  }
  .welcome_text{
    top: 40%;
  }
  .welcome_followup{
    top: 70%;
  }
}

 #simul {
  font-size: 3rem;
  color: var(--darkMint);
  background-color: black;
  padding-top: 3rem;
  padding-bottom: 3rem;
  text-align: center;
}

h2 {
  font-size: 2.5rem;
  color: var(--gold);
}

h3 {
  font-size: 1.75rem;
  color: var(--mint);
}

p {
  font-size: 1.2rem;
  max-width: 800px;
  line-height: 1.6;
}

.second-page{
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh-7rem);
    background-color: black;
}

.slider-wrapper{
    overflow: hidden;
    max-width: 1200px;
    margin: 0 70px 55px;
}

.card-list .card-item{
    color: #fff;
    width:auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 8px;
    backdrop-filter: blur(30px);
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.card-list .card-item .user-image{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 40px;
    border: 3px solid #fff;
    padding: 4px;
}

.card-list .card-item .user_profession{
    font-size: 1.15rem;
    color: #e3e3e3;
    font-weight: 500;
    margin: 14px 0 40px;
}

.card-list .card-item .message{
    font-size: 1.25rem;
    padding: 10px 35px;
    color: #030728;
    border-radius: 6px;
    font-weight: 500;
    cursor: pointer;
    background: #fff;
    border: 1px solid transparent;
}

.card-list .card-item .message:hover{
    background: rgba(255,255,255,0.1);
    border: 1px solid #fff;
    color: #fff;
}

.slider-wrapper .swiper-pagination-bullet{
    background: #fff;
    height: 15px;
    width: 15px;
}

.slider-wrapper .swiper-slide-button{
    color: #fff;
    margin-top: -50px;
}

.slider-wrapper .swiper-slide-button:hover{
    color: green;
}

@media (max-width: 768px){
    .slider-wrapper{
        margin: 0 10px 40px;
    }
    .slider-wrapper .swiper-slide-button{
        display: none;
    }
}